extends layout

block content
  include ./include/header.jade

  .rank-section
    h2 全网排行榜（前 #{rank.length} 名）
      span 测试阶段每天至少更新一次
    table
      thead
        tr
          th 排名
          th 玩家
          th 胜
          th 负
          th 胜率
          th 致胜最多的原因
          th 失败最多的原因
      tbody
        each item, index in rank
          tr
            td #{index + 1}
            td
              a(href="/#{item.User.login}")
                img(src="#{item.User.avatar}", width="32")
              if item.User.Tournaments.length > 0
                span [<a href="/tournaments/#{item.User.Tournaments[0].id}">杯赛</a>]
            td #{item.win}
            td #{item.lost}
            td #{Math.round(item.win / (item.win + item.lost) * 100)}%
            - var winReasonMap = { crashed: '击毁对手', timeout: '对手代码超时', star: '抢星星', runTime: '代码运行时间短', error: '对手代码出错' };
            td #{winReasonMap[item.winReason]}
            - var lostReasonMap = { crashed: '被击毁', timeout: '代码超时', star: '抢星星', runTime: '运行时间较长', error: '代码出错' };
            td #{lostReasonMap[item.loseReason]}
